<div class="row" class="boxes">
    <div class="col-md-5" id="non-devoured">
        <h2>Choice of Burgers</h2>

        <div>
            {{#each burgers}}
                {{#unless this.devoured}}
                    <!--<hr>-->
                    <div class="row listNewBurger" id="newBurgerList">
                        <div class="col-md-6">
                               <li>{{this.burger_name}}</li>
                        </div>
                        <div class="col-md-6">
                            <form class="formNewBurger" action="/{{this.id}}?_method=PUT" method="POST">
                                <input type="hidden" name="devoured" value="true">
                                <button type="submit" class="devourButton">Devour it!</button>
                            </form>
                        </div>
                    </div>
                {{/unless}}
            {{/each}}
        </div>
    </div>

    <div class="col-md-2">
        <div id="add_burger_div">
            <h2>Add a Burger</h2>
            <form class="create-update-form" action="/" method="POST">
                <div class="form-group" >
                    <input type="text" id="newBurgerName" name="name" placeholder="eg: CheezzeeeeBurger">
                    <button type="submit" id="addBurger">Add Burger</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-5" id="devoured">
        <h2>Already Ate..</h2>
        <div>
            {{#each burgers}}
                {{#if this.devoured}}
                    <li>{{this.burger_name}}</li>
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="false">
                    </form>
                    <p>
                {{/if}}
            {{/each}}
        </div>
        <form action="/{{this.burger_name}}?_method=DELETE" method="POST">
            <button type="submit" id="killIt">Clear all the burgers</button>
        </form>
    </div>
</div>